.body{
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	overflow-x: hidden;
}

.navbar{
	padding-left: 5%;
}

.pull-right{
	padding-right: 5%;
}

.mid h2 {
  font-family: "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4rem;
  transform: translate(-50%, -50%);
}

.img-foto {
	size: 100%;
	max-height: 300px;
	max-width: 300px;
	text-align: center;
	margin-top: 50px;
}

.img-circle{
	size: 100%;
}

#header{
	width: 100%;
	pointer-events: none;
}

#about{
	height: 300px;
	width: auto;
	background-color: white;
}

#about p{
	text-align: center;
	
	display: inline-block;
    margin: 0 30%;
}

#about h1{
		text-align: center;
}

#work h1{
	margin-top: 50px;
	margin-bottom: 100px;
}

#work{
	height: 900px;
	width: auto;
	background-color: #eaeaea;
	padding-top: 50px;
	padding-bottom: 500px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#contact{
	width: auto;
	background-color: white;
	height: auto;
}

.col-md-7{
	padding-left: 90px;
}
.social {
	text-align: left;
	
}
.col-md-7 h2{
	text-align: left;
}

.col-md-7 p{
	text-align: left;
}
#nav {
	width:100%;
	float: center;
	margin: 0
	padding: 0;
	
	top: 0;
	align-items: center;
}

#nav ul {
 	list-style-type: none;
    margin: 0;
    padding: 300;
    overflow: visible;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    display: flex;
}

#nav li {
	display: inline;
    float: center;
}

#nav li a {

	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
	background-color: #111; 
}

.col-lg-4 p{
	padding: 0 10%;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.footer p{
	padding-top: 30px;
}

.row{
	padding-bottom: 50px;
}
