.body{
	color: #111;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 28px;
}

.mid h2 {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4rem;
  transform: translate(-50%, -50%);
}



.img-circle {
	size: 100%;
	max-height: 400px;
	max-width: 400px;
	text-align: center;
	padding-top: 90px;
}

#header{
	width: 100%;
	pointer-events: none;
}

.body{
	text-align: center;
}

#about{
	height: 600px;
	width: auto;
	background-color: white;
}

#about p{
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
    line-height: 0.8;
}

#about h1{
		text-align: center;

}

#work{
	height: 1000px;
	width: auto;
	background-color: darkgrey;

}

#contact{
	height: 1000px;
	width: auto;
	background-color: lightgrey;
}

#nav {
	width:100%;
	float: center;
	margin: 0
	padding: 0;
	
	top: 0;
	align-items: center;
}

#nav ul {
 	list-style-type: none;
    margin: 0;
    padding: 300;
    overflow: visible;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    display: flex;


}

#nav li {
	display: inline;
    float: center;
}

#nav li a {

	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
	background-color: #111; 
}
